---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  </head>
  <body>
    <slot />
    
    <script src="/pagefind/pagefind-ui.js" is:inline></script>
    <script is:inline>
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showImages: true });
      });
    </script>
  </body>
</html>